<div class="container-md mb-5">
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="./assets/smandes.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">San Martín de los Andes</h3>
          <p class="card-text">Un entorno natural privilegiado, custodiado por el Parque Nacional Lanín, circuitos turísticos de gran atractivo, y la calidez de su gente, se suman a una completa infraestructura de servicios, tendiente a facilitar hasta el mínimo detalle las demandas de todo aquél que elija la región para sus vacaciones.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="./assets/losangeles.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Los Ángeles</h3>
          <p class="card-text">Los Ángeles, una de las capitales culturales más cosmopolitas y diversas del mundo, es más que una ciudad. Hay 88 ciudades solo en el condado de Los Ángeles —lo que representa una asombrosa variedad de culturas, estilos, economía, climas y diversiones</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="./assets/madrid.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Madrid</h3>
          <p class="card-text">La ciudad de Madrid en los últimos años se está convirtiendo en un destino turístico muy atractivo para los turistas tanto españoles como internacionales.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="./assets/cancun.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Cancún</h3>
          <p class="card-text">Con sus playas de fina arena blanca, aguas azul turquesa y espectaculares arrecifes de coral que yacen frente a sus costas, no es ninguna sorpresa que Cancún sea uno de los destinos turísticos más populares de México.</p>
        </div>
      </div>
    </div>
  </div></div>